#content {
    width: auto;
    height: 550px;
    background-color: #cecece;
    margin: 10px auto;
}

table {
    width: 100%;
    height: 100%;
}

table td {
    background-color: white;
}

td.live {
    background-color: black;
}

.hidden {
    display: block;
}

.float-right {
    float: right;
}